<div class="wrapper" style="width: 100%;height: 200%;">
    <div class="sidebar" data-color="white" data-active-color="danger" *ngIf="adminData && adminData.adminLogin">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div [ngClass]="{'main-panel': adminData && adminData.adminLogin}">
        <div *ngIf="adminData && adminData.adminLogin">
            <navbar-cmp></navbar-cmp>
        </div>
        <div class="content">
            <ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-beat" [fullScreen] = "true"><p style="color: white" > Please wait... </p></ngx-spinner>
            <router-outlet></router-outlet>
        </div>

        <div *ngIf="adminData && adminData.adminLogin">
        <footer-cmp></footer-cmp>
        </div>
    </div>
</div>
