<div class="row" *ngIf="propertyCategoryForm">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Edit Property type</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="propertyCategoryForm">
            <div class="row">
              <div class="col-md-8 pr-1">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Property type name" formControlName="property_type_name" >
                  <mat-error *ngIf="submitted && propertyCategoryForm.get('property_type_name').errors || propertyCategoryForm.get('property_type_name').touched && hasError('property_type_name', 'required')" style="color: red;">
                    Property type name is required
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control textarea" formControlName="property_type_description"></textarea> 
                  <mat-error *ngIf="submitted && propertyCategoryForm.get('property_type_description').errors || propertyCategoryForm.get('property_type_description').touched && hasError('property_type_description', 'required')" style="color: red;">Description is required</mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" (click)="submitPropertyCategoryForm()">Submit</button>
              </div>
            </div>
            <div class="row"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  