<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">Login</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" >
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="Email">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="*******" formControlName="Password">
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-success btn-round" (click)="submitLoginForm()">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  