<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          <div class="row">
            <div class="col-md-6">
                <div class="input-group no-border">
                  <input type="text" class="form-control" placeholder="Search property type by name" [(ngModel)]="search">
                  <div *ngIf="search" class="input-group-append" (click)="getAllPropertyType()">
                      <div class="input-group-text text-danger">
                        <i class="nc-icon nc-simple-remove"></i>
                      </div>
                    </div>
                  <div class="input-group-append" (click)="findPropertyType()">
                    <div class="input-group-text">
                      <i class="nc-icon nc-zoom-split"></i>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-info"  (click)="openDialog()"><i class="fa fa-plus"></i>Add Subscription</button>
              <!-- <button class="btn btn-info" (click)="addPropertyType()"><i class="fa fa-plus"></i> Add Property Type </button> -->
            </div>

          </div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Sl.No
              </th>
              <th>
                Name
              </th>
              <th>
                Price ($)
              </th>
              <th>
                Number Of Properties
              </th>
              <th>
                Number Of Images
              </th>
              <th>
                Number Of Videos
              </th>
              <th>
                Number Of Docs
              </th>
              <th>
                Number Of Days
              </th>
              <th>
               Description
              </th>
              <th>
               Status
              </th>
              <th class="text-center">
                Action
              </th>
            </thead>
            <tbody *ngIf="propertyTypeList">
              <tr *ngFor="let item of propertyTypeList;let i=index">
                <td>
                  {{i+1}}.
                </td>
                <td>
                  {{item.duration}}
                </td>
                <td>
                  {{item.price}}
                </td>
                <td>
                  {{item.no_properties}}
                </td>
                <td>
                  {{item.no_image}}
                </td>
                <td>
                  {{item.no_video}}
                </td>
                <td>
                  {{item.no_docs}}
                </td>
                <td>
                  {{item.no_of_days}}
                </td>
                <td>
                  {{item.description}}
                </td>
                <td>
                  {{item.status ? "Active" : "Deactive" }}
                </td>
                <td class="text-center">
                  <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #menu="matMenu">

                    <button mat-menu-item (click)="activeAndDeactiveSubscription(item,i)">
                      <mat-icon><span class="material-icons">visibility</span></mat-icon>
                      <span>{{ item.status == true ? "Deactived" : "Activated" }}</span>
                    </button>
                    <!-- <button mat-menu-item (click)="editPropertyType(item._id)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button> -->
                    <button mat-menu-item (click)="removeSubscription(item._id,i)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>

                <!-- agent_type_id -->
                <!-- <td class="text-center">
                  <button *ngIf="item.status == false" title="Customer Details" (click)="activePropertyType(item._id,true,i)"><i class="fa fa-check"></i></button>&nbsp;
                  <button *ngIf="item.status == true" title="Customer Details" (click)="activePropertyType(item._id,false,i)"><i class="fa fa-times"></i></button>&nbsp;
                  <button  title="Edit Service" (click)="editPropertyType(item._id)"><i class="fa fa-edit"></i></button>&nbsp;
                  <button title="Delete Service" (click)="deleteAgentType(item._id)"><i class="fa fa-trash-o"></i></button>
                </td> -->
              </tr>
            </tbody>
            <tfoot *ngIf="propertyTypeList == ''">
              <tr class="text-center">
                <td colspan="6">Data Not Found...</td>
              </tr>
            </tfoot>
          </table>
          <mat-paginator  #paginator (page)="paginationChange($event)" [length]="count" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="AddModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Subscription</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="example-form" [formGroup]="addForm">
          <div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Subscription Name"
                [(ngModel)]="getData.name"
                [formControl]="addForm.controls['name']"
              />
              <p
                style="color: #e80358"
                *ngIf="
                  !addForm.controls['name'].valid &&
                  addForm.controls['name'].touched
                "
              >
                This field is required.
              </p>
            </div>

            <div class="form-group">
            <label for="sel1">Select Subscription Type:</label>
            <select class="form-control" placeholder="Type"  [(ngModel)] = "getData.subscription_type" [formControl]="addForm.controls['subscription_type']">
              <option  disabled="" value="">Select One</option>
              <option value="Free">Free</option>
              <option value="Paid">Paid</option>

            </select>
            <p style="color: #FF0000" *ngIf="!addForm.controls['subscription_type'].valid  && ( addForm.controls['subscription_type'].touched)">Invalid subscription type!!!</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter price ($)" pattern="[0-9.]+" [(ngModel)]="getData.price" [formControl]="addForm.controls['price']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!addForm.controls['price'].valid  && ( addForm.controls['price'].touched)">Invalid price!!!</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Service Offer" pattern="[0-9.]+" [(ngModel)]="getData.no_of_service" [formControl]="addForm.controls['no_of_service']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!addForm.controls['no_of_service'].valid  && ( addForm.controls['no_of_service'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Leads Receive" pattern="[0-9.]+" [(ngModel)]="getData.no_of_request" [formControl]="addForm.controls['no_of_request']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!addForm.controls['no_of_request'].valid  && ( addForm.controls['no_of_request'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Zip Code Where Contractors Can Offer Their Services" pattern="[0-9.]+" [(ngModel)]="getData.zipCode" [formControl]="addForm.controls['zipCode']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!addForm.controls['zipCode'].valid  && ( addForm.controls['zipCode'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Days" pattern="[0-9.]+" [(ngModel)]="getData.no_of_days" [formControl]="addForm.controls['no_of_days']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!addForm.controls['no_of_days'].valid  && ( addForm.controls['no_of_days'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Enter description" [(ngModel)]="getData.description" [formControl]="addForm.controls['description']"></textarea>
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!addForm.controls['description'].valid  && ( addForm.controls['description'].touched)">Invalid description!!!</p>
          </div>
        </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-info" data-dismiss="modal" [disabled]="!addForm.valid"
        (click)="addSubscription()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="EditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Subscription</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="example-form" [formGroup]="editForm">
          <div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Subscription Name"
                [(ngModel)]="editData.name"
                [formControl]="editForm.controls['name']"
              />
              <p
                style="color: #e80358"
                *ngIf="
                  !editForm.controls['name'].valid &&
                  editForm.controls['name'].touched
                "
              >
                This field is required.
              </p>
            </div>

            <div class="form-group">
            <label for="sel1">Select Subscription Type:</label>
            <select class="form-control" placeholder="Type"  [(ngModel)] = "editData.subscription_type" [formControl]="editForm.controls['subscription_type']">
              <option  disabled="" value="">Select One</option>
              <option value="Free">Free</option>
              <option value="Paid">Paid</option>
            </select>
            <p style="color: #FF0000" *ngIf="!editForm.controls['subscription_type'].valid  && ( editForm.controls['subscription_type'].touched)">Invalid subscription type!!!</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter price ($)" pattern="[0-9.]+" [(ngModel)]="editData.price" [formControl]="editForm.controls['price']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!editForm.controls['price'].valid  && ( editForm.controls['price'].touched)">Invalid price!!!</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Service Offer" pattern="[0-9.]+" [(ngModel)]="editData.no_of_service" [formControl]="editForm.controls['no_of_service']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!editForm.controls['no_of_service'].valid  && ( editForm.controls['no_of_service'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Leads Received" pattern="[0-9.]+" [(ngModel)]="editData.no_of_request" [formControl]="editForm.controls['no_of_request']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!editForm.controls['no_of_request'].valid  && ( editForm.controls['no_of_request'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Days" pattern="[0-9.]+" [(ngModel)]="editData.no_of_days" [formControl]="editForm.controls['no_of_days']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!editForm.controls['no_of_days'].valid  && ( editForm.controls['no_of_days'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Number Of Zip Code" pattern="[0-9.]+" [(ngModel)]="editData.zipCode" [formControl]="editForm.controls['zipCode']">
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!editForm.controls['zipCode'].valid  && ( editForm.controls['zipCode'].touched)">This field is required.</p>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Enter description" [(ngModel)]="editData.description" [formControl]="editForm.controls['description']"></textarea>
            </mat-form-field>
            <p style="color: #FF0000" *ngIf="!editForm.controls['description'].valid  && ( editForm.controls['description'].touched)">Invalid description!!!</p>
          </div>
        </div>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-info" data-dismiss="modal" [disabled]="!editForm.valid"
        (click)="editSubscription()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>